@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Titillium+Web:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

body {
  max-width: 1680px;
  margin: auto;
}

main{
  flex: 1;
  margin-top: 111px;
}

.header {
  max-width: 1680px;
  margin: auto;
  background-color: #e10600;
  padding: 1.5rem 0 1.5rem 2rem;
}
.header {
  background-color: #e10600;
}


.header-links {
  margin: auto;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: .7px;
  display: block;
  padding: 10px 10px 10px 0;
  border: solid 1px #f08380;
  border-top: 0;
  border-left: 0;
  border-bottom-right-radius: 10px;
  width: 50%;
}

.header .logo img {
  width: 133px;
}

.title-h1 {
  text-align: center;
  margin: 1rem 0 2rem;
  font-weight: 600;
}

.main-banner img {
  width: 100%;
}

.container-form {
  display: flex;
  flex-wrap: wrap;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #45a049;
}

.notificaciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.opcion-notificacion {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin: 0 0 5px 5px;
}

.container-form {
  justify-content: center;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.intro-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2rem;
}

.title-h1,
.title {
  color: #333;
}

.highlight-section h2 {
  padding: 1rem 3rem 2rem;
}

.intro-section p {
  line-height: 1.5;
}

.highlight-section {
  max-width: 1500px;
  margin: auto;
}

.highlight-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.highlight-item {
  text-align: center;
}

.highlight-item img {
  max-width: 100%;
  height: auto;
}

.text-video-section {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  align-items: center;
  margin: 4rem auto;
  padding: 20px;
}

.video-block {
  display: none;
}

@media (min-width: 40em) {
  .video-block {
    display: block;
  }
}

@media (min-width: 48em) {
  .menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }

  .text-block {
    box-sizing: border-box;
    margin-right: 1.5rem;
  }

  .text-block,
  .video-block {
    width: 50%;
  }
}

@media (min-width: 62em) {
  .menu a {
    border: none;
  }
}

@media (min-width: 75em) {
  .text-video-section {
    flex-direction: row;
  }
}

.container-footer {
  max-width: 1680px;
  margin: auto;
  background-color: #333;
  color: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
}

.footer-logo img {
  width: 150px;
}

.footer-right p {
  font-size: 14px;
}

ol {
  list-style-type: decimal;
  margin: 20px;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

ol li {
  margin-bottom: 10px;
}

.list-items {
  display: flex;
  justify-content: center;
}

.info-items {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.2rem;
}