.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    img {
        width: 120px;

        @media (min-width: 800px) {
            width: 150px;
        }
    }
}

.footer-right {
    p {
        font-size: 14px;
    }
}