.teams-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    max-width: 1200px;

    :hover {
        background-color: #f5ececd6;
        cursor: pointer;
    }
}

.teams-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;

    a {
        text-decoration: none;
        color: initial;
    }
}

@media (max-width: 768px) {
    .teams-container {
        teams-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media (max-width: 480px) {
    .teams-container {
        grid-template-columns: 1fr;
    }
}